body {
    margin: 5px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    margin: 5px;
    padding: 50px;
    width: 100%;
    text-align: center;
}

nav {
    list-style: none;
    text-align: center;
    border: solid 1px black;
}

nav>ul>li {
    display: inline-block;
}

nav li a {
    background-color: rgb(9, 199, 247);
    color: rgb(250, 243, 243);
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    display: block;
}

nav li a:hover {
    background-color: #4adde2;
}

nav li ul {
    display: none;
    position: absolute;
    min-width: 150px;
}

nav li:hover>ul {
    display: block;
}

nav ul li {
    position: relative;
}

nav ul li ul li ul {
    left: 150px;
    top: 0px;
}

article>h2,
p {
    text-align: center;
}

article {
    border: 1px solid black;
    display: inline-block;
    width: 25%;
    margin: 1%;
    text-align: justify;
    padding: 10px;
}

main,
aside {
    display: inline-block;
    vertical-align: top;
}

main {
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    text-align: center;
}

aside {
    width: 25%;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0.5%;
}

#archivo {
    border: solid 1px black;
}

aside>div>div {
    padding: 5px;
    display: inline-block;
    width: 45%;
    text-align: justify;
}

#archivo>h2 {
    text-align: center;
}

#publicidad {
    border: solid 1px black;
    text-align: center;
    margin-top: 3px;
    display: inline-block;
}

#publicidad>h2 {
    text-align: center;
}

#publicidad>img {
    width: 40%;
    height: 150px;
    display: inline-block;
    text-align: justify;
}

footer {
    border: solid 1px black;
}

footer>h2 {
    text-align: center;
}

footer>p {
    text-align: left;
}

#imagenes-redes-sociales {
    text-align: right;
}