body {
    background: #263238;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

footer {
    text-align: center;
}

footer div {
    color: #ECEFF1;
    margin: 5% 0 1% 0;
    font-size: 1.5em;
}

h1 {
    color: #ECEFF1;
    text-align: center;
}

h2 {
    color: #ECEFF1;
    text-align: center;
}

h2>img {
    height: 2em;
    width: 2em;
}

h3 {
    color: #ECEFF1;
    text-align: center;
}

nav {
    padding: 5px;
    text-align: center;
}

nav>ul>li {
    background: #37474F;
    border: 2px solid #90A4AE;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #B0BEC5 inset;
    display: inline-block;
    line-height: 50px;
    margin: 2px 0px;
    transition: all 0.2s;
    width: 9%;
}

nav>ul>li:hover {
    background: #CFD8DC;
    box-shadow: 1px 1px 3px #ECEFF1;
    transform: scale(1.01, 1.01);
}

nav>ul>li>a {
    color: #ECEFF1;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
}

nav>ul>li:hover>a {
    color: #263238;
    font-weight: bold;
}

main {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

section>article:nth-child(odd) {
    background-color: #CFD8DC;
    padding: 10px;
}

section>article:nth-child(even) {
    background-color: #ECEFF1;
    padding: 10px;
}

section>article>h3 {
    color: black;
}

section>article div {
    padding: 0.6rem;
    text-align: justify;
}

section>article>p {
    font-size: 0.96rem;
    font-weight: bold;
    text-align: justify;
}

span {
    color: #ECEFF1;
    font-family: Sosa;
    font-size: 2em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social {
    color: white;
    display: inline-block;
    height: 30px;
    margin: 5px;
    transition: all 0.5s;
    width: 30px;
}

.social:hover {
    transform: scale(1.1);
}

pre {
    font-size: 0.96rem;
    font-weight: bold;
    text-align: justify;
}


/* Inicio de mis Pseudo-elementos */

.descripcion {
    color: rgb(243, 241, 241);
}

#pseudo-firstline>p::first-line {
    color: #ff0000;
    font-variant: small-caps;
    text-align: left;
}

#pseudo-before>p::before {
    content: url(../icon/libro.png);
}

#pseudo-firstletter>p::first-letter {
    color: #ff0000;
    font-size: 200%;
}

#pseudo-after>p::after {
    content: url(../icon/libro.png);
}

#pseudo-selection>p::selection {
    color: #ff0000;
    background-color: rgb(231, 231, 19);
}


/* Fin de mis Pseudo-elementos */


/* Inicio de mis Pseudo-clases */

#pseudo-active>a:active {
    color: #d5e40d;
}

#pseudo-checked>form>input:checked {
    height: 25px;
    width: 25px;
}

#pseudo-indeterminate>input:indeterminate {
    box-shadow: 0 0 1px 1px rgb(241, 7, 7);
}

#pseudo-enabled-disabled>form>input[type=text]:disabled {
    background: #9b9a9a;
}

#pseudo-enabled-disabled>form>input[type=text]:enabled {
    background: #f1f106;
}

#pseudo-empty>p:empty {
    width: 100px;
    height: 20px;
    background: #ff0000;
}

#pseudo-first-child p:first-child {
    background-color: rgb(240, 240, 13);
}

#pseudo-first-of-type>p:first-of-type {
    background-color: rgb(236, 236, 16);
}

#pseudo-focus>form>input:focus {
    background-color: rgb(240, 240, 13);
}

#pseudo-hover>a:hover {
    background-color: rgb(240, 240, 13);
}

#pseudo-in-range>input:in-range {
    border: 2px solid rgb(240, 240, 13);
}

#pseudo-invalid>input:invalid {
    border: 2px solid rgb(243, 8, 8);
}

#pseudo-lang>p:lang(ho) {
    border: 2px solid rgb(240, 240, 13);
}

#pseudo-last-child>p:last-child {
    background: #ff0000;
}

#pseudo-last-of-type>p:last-of-type {
    background: #ff0000;
}

#pseudo-link>a:link {
    border: 2px solid rgb(250, 250, 5);
}

#pseudo-not>:not(p) {
    color: #ff0000;
}

#pseudo-nth-child>p:nth-child(2) {
    background: rgb(231, 17, 17);
}

#pseudo-nth-last-child>p:nth-last-child(2) {
    background: rgb(231, 17, 17);
}

#pseudo-nth-last-of-type span {
    color: rgb(2, 2, 2);
}

#pseudo-nth-last-of-type>span:nth-last-of-type(2) {
    background-color: rgb(231, 17, 17);
}

#pseudo-nth-of-type>:nth-of-type(2) {
    background: rgb(231, 17, 17);
}

#pseudo-only-of-type>div>p:only-of-type {
    background: rgb(231, 17, 17);
}

#pseudo-only-child>div>p:only-child {
    background: rgb(231, 17, 17);
}

#pseudo-optional>input:optional {
    background-color: rgb(240, 240, 13);
}

#pseudo-out-of-range>input:out-of-range {
    border: 2px solid rgb(231, 17, 17);
}

#pseudo-read-only>input:read-only {
    background-color: rgb(240, 240, 13);
}

#pseudo-read-write>input:read-write {
    background-color: rgb(240, 240, 13);
}

#pseudo-required>input:required {
    background-color: rgb(240, 240, 13);
}

#pseudo-root>:root {
    background: #ff0000;
}

#pseudo-target>:target {
    border: 2px solid rgb(177, 170, 170);
    background-color: #d6eb9d;
}

#pseudo-valid>input:valid {
    background-color: rgb(240, 240, 13);
}

#pseudo-visited>a:visited {
    color: rgb(255, 192, 203);
}


/* Fin de mis Pseudo-clases */

@media only screen and (max-width:1560px) {
    nav>ul>li {
        width: 45%;
    }
}

@media only screen and (max-width:800px) {
    nav>ul>li {
        width: 90%;
    }
}