form {
    width: 500px;
    display: grid;
    grid-template-columns: max-content 2fr;
    column-gap: 1em;
    margin-bottom: 1em;
}

.field {
    display: grid;
    grid-column: span 2;
    gap: inherit;
    grid: inherit;
    grid-template-columns: subgrid;
}