:root {
    --primario-color: #005A8A;
    --secundario-color: #Dfcb91;
    --bordes-color: rgb(0, 0, 0);
    --texto-primario-color: rgb(255, 255, 255);
    --iconos-articulos-color: #000000;
    --articulos-color: #F5e249;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--primario-color);
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font: bold 3em;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c5c5c5, 0 3px 0 #bbb, 0 4px 0 #b5b5b5, 0 5px 0 #aaa, 0 6px 0 #a5a5a5, 0 7px 3px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.1);
    color: var(--texto-primario-color);
}

nav {
    list-style: none;
    text-align: center;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

nav>ul>li {
    display: inline-block;
}

nav li a {
    background-color: var(--primario-color);
    color: rgb(250, 243, 243);
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

nav li a p {
    margin: 0;
    padding-left: 0.25em;
}

nav li a:hover {
    background-color: #FFB000;
}

nav li ul {
    display: none;
    position: absolute;
    min-width: 150px;
}

nav li:hover>ul {
    display: block;
}

nav ul li {
    position: relative;
}

nav ul li ul li ul {
    left: 150px;
    top: 0px;
}

section article {
    background-color: var(--articulos-color);
    margin: 1em;
    padding: 1em;
}

section article:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(27, 26, 26), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition-duration: 1s
}


/* Tablet */

@media only screen and (min-width: 650px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}


/* Computadora */

@media only screen and (min-width: 950px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

div.contenedor-fecha-iconos {
    display: grid;
    grid-template-columns: 60% 40%;
}

div.fecha {
    text-align: left;
}

div.iconos-tarea {
    text-align: right;
}

div.iconos-tarea i {
    color: var(--iconos-articulos-color);
}

div.iconos-tarea i:hover {
    transform: scale(1.5);
}

footer {
    background-color: var(--primario-color);
    text-align: center;
    padding: 0.25em 0 0.25em 0;
}

footer p {
    color: var(--texto-primario-color);
}