* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer,
main {
    text-align: center;
}

header {
    margin-bottom: 1em;
    padding: 1em;
    background-image: linear-gradient(green, yellow);
}

nav {
    position: fixed;
    left: 0;
    background-color: aqua;
}

main,
section,
div {
    padding: 1em;
}

section>div {
    margin: 1em;
    background-color: aquamarine;
    border: 1px solid black;
}

section#section1>div:hover {
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.6);
}

footer {
    margin-top: 1em;
    padding: 1em;
    background-image: linear-gradient(to right, yellow, orange, red);
}

footer h2,
p {
    padding: 0.5em;
}

@media (min-width: 768px) {
    section#section1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #section1>div#flex-container {
        display: flex;
    }
    section#section2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
}

@media (min-width: 1024px) {}