body {
    margin: 5px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'header header header header' 'nav nav nav nav' 'main main main aside' 'footer footer footer footer';
}

#header {
    background-color: black;
    color: white;
    grid-area: header;
}

#header h1 {
    margin: 5px;
    padding: 50px;
    width: 100%;
    text-align: center;
}

#nav {
    list-style: none;
    text-align: center;
    border: solid 1px black;
    grid-area: nav;
}

#nav>ul {
    text-align: center;
    margin: 0;
    padding: 0.5%;
    list-style: none;
}

#nav ul li {
    border: 1px solid black;
    display: inline-block;
    width: 16%;
    padding: 5px;
}

#nav ul li a {
    text-decoration: none;
}

#main {
    border: 1px solid black;
    grid-area: main;
}

#main>section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px 10px;
}

#main>section>article {
    border: 1px solid black;
    margin: 1%;
}

#aside {
    padding: 0.5%;
    grid-area: aside;
    display: grid;
    grid-auto-flow: row;
}

#aside>div>div {
    padding: 5px;
    display: inline-block;
    width: 45%;
    text-align: justify;
}

#archivo {
    border: solid 1px black;
    padding: 30px;
    text-align: center;
}

#archivo>h2 {
    text-align: center;
}

#archivos>div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#publicidad>div {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 150px);
}

#publicidad {
    padding: 20px;
    border: solid 1px black;
    text-align: center;
    margin-top: 3px;
    display: inline-block;
}

#publicidad>h2 {
    text-align: center;
}

#publicidad>div>img {
    width: 40%;
    height: 40%;
}

#footer {
    border: solid 1px black;
    grid-area: footer;
}

#footer>h2 {
    text-align: center;
}

#footer>p {
    text-align: left;
}

#imagenes-redes-sociales {
    text-align: right;
}