header {
    background-color: orange;
    height: 200px;
}

#principal {
    min-height: 500px;
}

nav {
    background-color: red;
}

main {
    background-color: green;
    color: white;
    display: grid;
    height: 1000px;
    grid-template-columns: 400px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

article {
    font-size: 3rem;
}

.item7 {
    height: 500px;
}

article:nth-child(2n) {
    background-color: rgb(11, 11, 235);
}

article:nth-child(2n+1) {
    background-color: rgb(30, 169, 194);
}

footer {
    background-color: brown;
    height: 100px;
}