header{
background-color: aqua;
border: 1px solid black;
}

nav{
    border: 1px solid black;
}

nav>ul>{
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* list-style: none; */
}


nav>ul>li{
    background-color: blue;
    width: 25%;
    display: inline-block;
    text-align: center;

}

nav>ul>li>a{
    text-decoration: none;
    color: white;
}


body{
    background-color: rgba(210, 221, 231, 0.842);
    font: 10px;
    font-family: sans-serif;
}

main{
    width: 70%;
}

article{
    width: 90%;
    margin: 20px;
    padding: 10px;
    border: 2px solid #E43838;
}

aside{
    width: 20%;
    padding: 10px;
    border-left: 2px solid blue;
}

aside>div>a>img{
    width: 200px;
    height:  150px;
}


footer{
    background-color: rgb(95, 156, 235);
}

footer>p{       
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid black;
}